<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sinatra Bootstrap</title>
  </head>
  <body>
    <header>
      <h1>Wellcome!</h1>
    </header>
  </body>
</html>
